@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";

#b-container {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}
