*
{
	margin: 0px;
	padding: 0px;
}

html
{
    text-align: center;  
    background: rgba(239, 232, 220, 0.49);
   /* text-align: center;*/
}

h1
{
	text-align: center;
    font-size: 70px;
}

p
{
 	text-align: center;   
        font-size: 25px;
}
.button
{
    text-align: center;
    margin-top: 140px;
}

.seconnecter
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 40px;
    border: 2px solid rgb(181, 181, 181);
    font-family: 'Signika', Serif;
  
}

.element{
    margin-top: 40vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}