<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Réservation de vols</title>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!--<link rel="stylesheet" href="style.css">  -->
</head>
<body>

	<div id="app">
		<button v-on:click="updateVols()">Mettre à jour les vols</button>
		<ul>
			<li v-for="vol in vols">{{ vol.code_depart }}-{{ vol.code_destination }} {{ vol.prix }}                         
				
				<button v-on:click="ajoutPanier(vol.id, vol.code_depart, vol.code_destination, vol.prix)">Ajouter Panier</button>
			</li>
		</ul>


		<span>Mon Panier</span>
		<ul>
			<li v-for="(panier, index) in paniers" :key="'panier'+index">{{ panier.code_depart }}-{{ panier.code_destination }} {{ panier.prix }}  
			<input type="text" value="1">  
			<button v-on:click="supprimerPanier(panier.id)">Retirer</button>
			
		
			</li>
		</ul>

		<button v-on:click="">Paiement</button>

	</div>

	<script language="javascript">
		var app = new Vue({
			el: '#app',
			data:{
				vols:[],
				paniers:[],
				objets:[],
			},
			methods:{
				updateVols:function()
				{
					axios.get('http://127.0.0.1:5000/fly').then(reponse => this.vols = reponse.data).catch(erreur => this.vols = [{title: "Erreur de chargement"}]);

				},
				ajoutPanier:function(index, dep, des, price){
					
					index.toString();
					this.objets.push({id:index})


					url="http://127.0.0.1:5000/fly/"+index
					axios.get(url).then(reponse => this.paniers.push(reponse.data)).catch(erreur => this.paniers = [{title: "Erreur de chargement"}]);

					console.log(this.paniers)
				},
				supprimerPanier:function(index)
				{
					this.paniers.pop()
				}
			}
		});
	</script>

</body>
</html>

