<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery-migrate-3.0.1.min.js"></script>

        <!--{{> header}}
        {{{body}}}
        {{> footer}}-->

        <!-- mega Scripts goes here-->
    </body>
</html>