<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            {{> header}}
            {{{body}}}
            {{> footer}}
        <script src="/js/main.js"></script>
    </body>
</html>