b-container
    b-row.mt-5
        b-card-group(deck)
            b-card(bg-variant="primary" text-variant="white" header="Primary" class="text-center" v-for="flight in flightTickets" :key="flight")
                b-card-text Hello World!