#navbar {
    text-align: center;
    width: 100%;

    [class$="-light"] {
        color: #78909C;
    }
}

#root {
    [class^="link"] {
        margin-left: 2vw;
        text-decoration: none;
    }
}