#navbar {
    text-align: center;
    width: 100%;

    a {
        :hover {
            text-decoration: none;
        }
        :visited {
            text-decoration: none;
        }
        :active {
            text-decoration: none;
        }
        :link {
            text-decoration: none;
        }
        :focus {
            text-decoration: none;
        }
    }

    [class^="link"] {
        margin-left: 2vw;
        text-decoration: none;
    }

    [class$="-light"] {
        color: #78909C;
    }
}