b-container(fluid)#root
    .row
        .col.p-0
            b-navbar(type = "dark" variant = "dark")#navbar
                b-navbar-brand HexClan
                    router-link(to="/")
                        b-link(href="/" :class="'link-' + $store.state.theme") Home
                    router-link(to="/login" v-if="$store.state.notLogged")
                         b-link(href="/login" :class="'link-' + $store.state.theme") Sign In
                    router-link(to="/register" v-if="$store.state.notLogged")
                        b-link(href="/register" :class="'link-' + $store.state.theme") Sign Up
    .row
        router-view