.container.text-center
    .form_login()
        b-card.mb-2.card_login
            .col-4.offset-4
                h2 Login
                b-form(@submit="onSubmit" @onreset="onReset")
                    b-form-group(label="Login : " label-for="input-1" id="input-group-1")
                        b-form-input(id="input-1" v-model="form.login" type="text")
                    b-form-group(label="Password : " label-for="input-2" id="input-group-2")
                        b-form-input(id="input-2" v-model="form.password" type="password")
                    b-button(type="submit" variant="success").buttons.rounded-pill Submit
                    b-button(type="reset" variant="secondary").buttons.rounded-pill Reset
