.container.text-center
    .form_login()
        b-card.mb-2.card_login
            .col-4.offset-4
                h2 Login
                b-form(@submit="onSubmit" @onreset="onReset")
                    b-form-group(label="Login : " label-for="input-1" id="input-group-1")
                        b-form-input(id="input-1" v-model="form.username" type="text")
                    b-form-group(label="Password : " label-for="input-2" id="input-group-2")
                        b-form-input(id="input-2" v-model="form.password" type="password")
                    b-button(type="submit" variant="success").buttons.rounded-pill Submit
                    b-button(type="reset" variant="secondary").buttons.rounded-pill Reset

        b-modal(ref="modal_user_not_found" centered title="Warning")
            p(class="my-4") User not found, please register
        b-modal(ref="modal_success" centered title="Success login")
            p(class="my-4") Redirection in progress
        b-modal(ref="modal_error" centered title="Error")
            p(class="my-4") Unkown error happened
