<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Liste des vols disponibles</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <h1>Liste des vols disponibles</h1>
</body>

</html>